<div class='border-2 border-gray-400'>
  <%= paginate resources %>
</div>

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <% categories.each do |c| %>
          <th scope="col" class="px-6 py-3">
            <%= link_to c.titleize, sort: c %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% resources.each do |r| %>
        <%= render partial: 'shared/table_items', locals: { resource: r, categories: categories } %>
      <% end %>
    </tbody>

  </table>
</div>